.label {
    width: 20%;
    display: inline-block;
}

input {
    background-color: #DCDCDC;
}

.alert {
    color: red;
    display: none;
}

section {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .save {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .label {
        width: 21%;
    }
}